{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container col-xl-3 mt-5">
    {% for flashError in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}

<h1 class="text-center mb-4">Register</h1>

{{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}
    {{ form_row(registrationForm.agreeTerms) }}
    <div class="text-center">
        <button type="submit" class="btn btn-primary mt-4 ">Register</button>
    </div>
{{ form_end(registrationForm) }}
</div>


   
{% endblock %}
