{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="container col-xl-4 ">
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1 class= "mt-4 mb-4">Reset your password</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Enter your email address and we will send you a
                link to reset your password.
            </small>
        </div>
    <div class="text-center">
        <button class="btn btn-primary mt-4">Send password reset email</button>
    </div>
    {{ form_end(requestForm) }}
</div>
{% endblock %}
