{% extends 'base.html.twig' %}

{% block title %}Bienvenue | Accueil{% endblock %}

{% block body %}

   

    <div class="container">
       
            
       
        

        <table class="table">
            <thead>
                <tr>
                    <th scope='col'>#</th>
                    <th scope='col'>Name</th>
                  
                </tr>
            </thead>
            <tbody>
                {% for categori in categories %}
                
                    <tr>
                        <td>{{categori.id}}</td>
                        <td>{{categori.name}}</td>
                     
                      
                        
                       
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
